:root{
    --navbar-color: #333;
    --navbar-text: white;
    --navbar-text-muted: rgb(209, 209, 209);

}

*, *:before, *:after {
    box-sizing: border-box;
}


body{
    font-family: 'Sora', sans-serif;
}

/* #region NAVBAR */
nav {
    background-color:var(--navbar-color);
    color:var(--navbar-text);
    height:4rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding: 0 1rem;
}

nav .app-name{
    font-weight:700;
    text-decoration: none;
    color:var(--navbar-text)
}

#links {
    margin-left: 1rem;
}


#links a{
    color: var(--navbar-text);
    font-size: 0.8em;   
    margin: 0 1em;
}

/* #endregion */


main {
    margin-top:2rem;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}
/* #region TITLE CARD */


/* #region UTILITY CLASSES */
.btn {
    text-decoration:none;
    background-color: var(--primary-button);
    padding:1em;
    border-radius: 0.5rem;
}
.btn:hover {
    filter:brightness(0.95);
}
/* #endregion */