:root {
    --form-bg: #15172B;
    --primary-button:rgb(102, 196, 217);
    --form-field-bg: #303245;
    --formt-alert-bg:rgb(74, 74, 1);
    --form-text-primary: aliceblue;
    --form-text-muted:#9ca1ce;
    --form-text-alert: rgb(250, 255, 183);
}

section {
    grid-column-start: 3;
    grid-column-end:11;
    display:flex;
    justify-content: center;
}



/* #region STYLING FORMS */

form {
    padding: 2rem;
    background-color:var(--form-bg);   
    color:var(--form-text-primary);
    border-radius:1rem;
}

div.control-group {
    margin-bottom:1rem; /* Adds margin below every control-group */
}
div.controls {
    margin-top:0.5rem; /* Adds space between label and input field */
}

form h1 {
    font-weight:700;
    font-size: 2em;
    margin-bottom: 1rem;
}

form input, form textarea {
    border:unset;
    width: 100%;
    background-color: var(--form-field-bg);
    border-radius: 1rem;
    color:var(--form-text-primary);
    padding: 0 1em;
}

form input {
    height:2rem;
}

form textarea {
    border-bottom-right-radius: unset;
    padding-top: 0.7em;
}

form input[type=checkbox] {
    width:unset;
    height:unset;
}


/* #div_id_picture .controls{
    height:2rem;
} */

label[for=id_picture] {
    background-color: var(--form-field-bg);
    display:flex;
    border-radius: 1rem;
    height:2rem;
    padding: 0 1em;
    align-items:center;
    cursor:pointer;
}
label[for=id_picture]:hover {
    filter:brightness(1.3);
}

form input[type=file]{
    /* height:100%; */
    display:none;
}

form input[type=submit] {
    color:var(--form-bg);
    background-color: var(--primary-button);
    font-family: 'Sora', sans-serif;
    font-size:larger;
    display:block;
    cursor:pointer;
}
form input[type=submit]:hover{
    filter:brightness(1.1)
}

form .help-block {
    color: var(--form-text-primary);
    background-color: var(--formt-alert-bg);
    /* background-color:red; */
}

/* #endregion */



